.inputComment:focus {
  outline: none;
}
.inputComment:focus:hover {
  outline: none;
}

.commnetHover:hover {
  text-decoration: underline;
}

.borrar:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
