@mixin circle {
  //stroke-dashoffset: 0;
  //transition: stroke-dashoffset 1s linear;
  stroke-width: 16px;
}

$colorLine: white;

.circle {
  stroke: $colorLine;
  @include circle();
}

.bar {
  stroke: white;
  @include circle();
}

.backend {
  stroke: black;
  fill: black;
}

.frontend {
  stroke: black;
  fill: black;
}

.loading {
  stroke: #239b56;
  @include circle();
  transition: stroke-dashoffset 1s linear;
}

.line {
  stroke: $colorLine;
  stroke-width: 16px;
}

.lineAfter {
  stroke: #239b56;
  stroke-width: 16px;
  transition: stroke-dashoffset 1s linear;
}
